!.pentadactyl/info/default/quickmarks
.pentadactyl/info/default/*
.mutt/cache/*
.mutt/.muttrc
!*.jpg
!*.png
.config/libreoffice/*

auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
