.pentadactyl/info/default/*
.mutt/cache/*
.config/*
.config/dconf/*
!.config/i3
!.config/openbox
!.config/locale.conf
!.config/vlc

auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el
